
  header {
    width: 100%;
    height: 200px;
    min-height: 100px;
    display: flex;
    background: #509872;
    box-shadow: 0px 1px 2px #4C5B5C;
  }
  
  .headstyle {
    font-weight: 600;
    font-size: 3em;
    color: aliceblue;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  
  .headlink {
    text-decoration: none;
    color: rgb(41, 223, 34);
    background: chocolate;
  }
  
  li {
    list-style-type: none;
  }